.icon-engage { background: url(/img/icons/engage.png) no-repeat top left; }

.icon-account-small { background: url(/img/icons/account-small.png) no-repeat top left; }

.icon-logout-small { background: url(/img/icons/logout-small.png) no-repeat top left; }
.icon-logout-medium { background: url(/img/icons/logout-medium.png) no-repeat top left; }

.icon-security-large { background: url(/img/icons/security-large.png) no-repeat top left; }